<h1>User Update</h1>
<div class='name'>name:</div> <input type="text" placeholder="<%= userinfo['name'] %>" id="name0"/><br />
<div class='name'>email:</div> <input type="text" placeholder="<%= userinfo['email'] %>" id="email0"/><br />
<div class='name'>problem:</div> <input type="text" placeholder="<%= userinfo['problem'] %>" id="problem0"/><br />

<button class="btn-update" name=<%= userinfo['_id']%>>Update</button>
<button class="btn-cancel" name=<%= userinfo['_id']%>>Cancel</button>
